{% extends "base.html" %}
{% load static %}
{% block service %}
  active
{% endblock %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/card.css' %}">
    <center>
         <div class="card bg-light" style="max-width: 1000px;">
        <img class="card-img-top" src="{{ service.image.url }}" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title text-left">
                <a href="#" class="card-text nav-my-link text-dark">
                    {{ service.title }}
                </a>
            </h5>
            <br>

            <pre><p class="text-left">{{ service.description }}</p></pre>

            <p class="text-left ">
                <span class="fa fa-calendar text-success" aria-hidden="true">
                    {{ service.create_date }}
                </span>
            </p>
            <div>
                {% if user.is_staff %}
                <div class="col-sm-6 mt-3">
                    <a href="{% url 'serviceUpdate' service.id %}" class="w-100 btn btn-outline-primary">Edit</a>
                </div>
                <div class="col-sm-6 mt-3">
                    <a href="{% url 'serviceDelete' service.id %}" class="w-100 btn btn-outline-danger">Delete</a>
                </div>
                    
                    
                {% endif %}
            </div>
            
                
        </div>
    </div>
    </center>
   
{% endblock %}